:root {
  --primary-color: #9b98d4;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body{
  background-color: rgb(219, 208, 221);
  /* line-height: 1; */
}

h1{
  font-size: 96px;
}

h2{
  font-size: 48px;
  text-align: center;
}

p {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.header{
  font-size: 48px;
  text-align: center;
  margin: 60px 0 80px ;
}

.header .button {
  font-size: 24px;
}

.profession{
  font-size: 28px;
  color: rgb(155, 154, 154);
}

.flag {
  width: 40px;
  margin-top: 15px;
}

.button {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.5s;
  box-shadow: var(--box-shadow);
  background: var(--primary-color);
  color: white;
  white-space: nowrap;
  text-align: center;
}

.button:hover {
  scale: 1.05;
  background-color: #6b67c5;
}

.app-descr-text {
  text-align: start;
}

.launch-button {
  display: block;
  margin: 0 auto;
  width: 45%;
}

.substrate{
  background:#F5F2FE;
  display: flex;
  justify-content: center;
}

.project-image {
  width: 100%;
  border-radius: 4px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  align-self: center;
} 

.revers{
  flex-direction: row-reverse;
}

.contact-links {
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  margin-right: 20px;

}

.contact-links:hover {
  color: #6b67c5;
}

@media (max-width: 575px){
  h2{
    font-size: 32px;
  }

  h1{
    font-size: 56px;
    line-height: 58px;
  }

  .profession{
    font-size: 20px;
    line-height: 24px;
  }

  .launch-button{
    width: 65%;
  }

  .app-descr-text{
    text-align: justify;
  }
}